<h1>Edit Member</h1>

<div>

  <form method ="post" action="/members/<%=@member.id%>">


    <div class ="form_space">
      <label for ="first-name-field">First Name</label>
      <input class="new_form" type ="text" name ="first_name" id="first-name-field" value ="<%= @member.first_name %>" />
      <br />
    </div>

    </br>

    <div class ="form_space">
      <label for="last-name-field">Last Name</label>
      <input class="new_form" type="text" name="last_name" id="last-name-field" value="<%= @member.last_name %>" />
      <br />
    </div>
    </br>

    <div class ="form_space">
      <label for="premium"> Select Membership</label>
      <select name="premium" id="premium">
        <option value =""></option>
        <option value = TRUE <%= "selected" if @member.premium == TRUE %>> Premium</option>
        <option value = FALSE <%= "selected" if @member.premium == FALSE %>> Basic </option>
      </select>
      <br />
    </div>
    </br>

    <div class ="form_space">
      <label for="active"> Active</label>
      <select name="active" id="active">
        <option value =""></option>
        <option value = TRUE <%= "selected" if @member.active == TRUE %>> Active </option>
        <option value = FALSE <%= "selected" if @member.active == FALSE %>> Inactive </option>
      </select>
      <br />
    </div>
    </br>

    <div class ="form_space">
      <input class = "button1" type="submit" value ="Submit Changes" />
    </div>
  </form>

</div>
