<h1><%= @session.name %></h1>

<table>
  <tr>

    <th>Genre</th>
    <th>Capacity</th>
    <th>Date</th>
    <th>Time</th>
    <th></th>
    <th></th>
    <th></th>


  </tr>

  <tr>


    <td><%= @session.genre %></td>
    <td><%= @session.capacity %></td>
    <td><%= @session.session_date %></td>
    <td><%= @session.session_time %></td>
    <td>  <form  class ="show_member_form" action="/sessions/<%= @session.id %>/bookings">
      <input class ="button1" type="submit" value="View Members"/>
    </form></td>
    <td> <form  class ="show_member_form" action="/sessions/<%= @session.id %>/edit">
      <input class ="button1" type="submit" value="Edit Session"/>
    </form></td>
    <td>  <form class ="show_member_form" method="post" action="/sessions/<%= @session.id %>/delete">
      <input class ="button2" type="submit" value="Delete Session"/>
    </form></td>
  </tr>
</table>

</br>

<% if @session.capacity > 0 %>
<form  class ="show_member_form" action="/sessions/<%= @session.id %>/new_booking">
  <input class ="button1" type="submit" value="Book Member"/>
</form>

<% end %>
